#hero {
    position: absolute;
    left: 420px;
    top: 400px;
}

#creep {
    position: absolute;
    left: 380px;
    top: 0px;
}

#base {
    position: absolute;
    left: 500px;
    top: 520px;
}

#health {
    position: absolute;
    left: 500px;
    top: 540px;
}