#disable_scroll {
    overflow: hidden;
}

#hero {
    position: absolute;
    left: 420px;
    top: 400px;
}

#creep {
    position: absolute;
    left: 380px;
    top: 0px;
}

#base {
    position: absolute;
    left: 430px;
    top: 550px;
}

#health {
    position: absolute;
    left: 450px;
    top: 570px;
}