#disable_scroll {
    overflow: hidden;
}

#gold {
    position: absolute;
    font-size: 10px;
    top: 0px;
    left: 550px;
}

#drawGold {
    position: relative;
    top: 25px;
}

#goldAmount {
    position: relative;
    color: gold;
    font-size: 15px;
    top: -19px;
    left: 33px;
}

#hero {
    position: absolute;
    left: 420px;
    top: 400px;
}

#drawHero {
    position: absolute;
    left: 100px;
    top: 100px;
}

#creepBox {
    position: absolute;
    left: 300px;
    top: 0px;
}

#drawcreep {
    position: relative;
    visibility: visible;
}

#creepHpBar {
    position: absolute;
    left: -3px;
    top: 25px;
    width: 30px;
    height: 4px;
    border-color: white;
    border-width: 1px;
    background-color: green;
}

#creepHp {
    top: 18px;
    position: relative;
    visibility: visible;
}

#wall {
    position: absolute;
    left: 0px;
    top: 560px;
}

#base {
    position: absolute;
    left: 430px;
    top: 550px;
}

#health {
    position: absolute;
    left: 450px;
    top: 570px;
}